<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登录跳转</title>
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<link rel="bookmark" href="/static/images/favicon.ico" />
<link rel="stylesheet" type="text/css" media="all"
	href="/static/bootstrap/css/bootstrap.min.css"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
   <a th:href="@{/login}" class="btn btn-default btn-lg" role="button">登 录</a>
	<script th:src="@{/static/jquery/jquery.min.js}"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>