<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aloe.mapper.MenuRightRelationEntiryMapper" >
  <resultMap id="BaseResultMap" type="com.aloe.pojo.entity.MenuRightRelationEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="menu_right_no" property="menuRightNo" jdbcType="VARCHAR" />
    <result column="menu_no" property="menuNo" jdbcType="VARCHAR" />
    <result column="right_no" property="rightNo" jdbcType="VARCHAR" />
  </resultMap>
</mapper>