<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aloe.mapper.RightInfoEntiryMapper" >
  <resultMap id="BaseResultMap" type="com.aloe.pojo.entity.RightInfoEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="right_no" property="rightNo" jdbcType="VARCHAR" />
    <result column="right_name" property="rightName" jdbcType="VARCHAR" />
    <result column="right_type" property="rightType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
</mapper>